baseURL = "https://hongtaoh.com"
languageCode = "en-us"
title = '郝鸿涛：Hongtao Hao'
theme = "hugo-ht"
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_files$", "_cache$", "\\.qmd$", "\\.ipynb$", "\\.py$"]
footnotereturnlinkcontents = "↩"
enableGitInfo = true
enableRobotsTXT = true

defaultContentLanguage = "en"
defaultContentLanguageInSubdir = true
hasCJKLanguage = true

[module.hugoVersion]
  min = "0.119.0"

[outputs]
  home = ["HTML", "RSS"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]

[frontmatter]
  lastmod = ["lastmod", ":git", "date"]

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = false
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      attribute = true
      autoHeadingID = true
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xHTML = false

  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    style = "pygments"
    tabWidth = 4

  [markup.tableOfContents]
    endLevel = 3
    ordered = true
    startLevel = 2

[imaging]
  quality = 100

[params]
  MathJaxCDN = "//cdnjs.cloudflare.com/ajax/libs"
  MathJaxVersion = "2.7.5"
  favicon = "/ht10.ico"
  GithubRepo = "https://github.com/hongtaoh/hongtaoh.github.io"
  copyright = "&copy;"
  copyrightYearStart = "2020"
  blogDirName = "blog"
  customCSS = ["css/custom.css"]
  logo = { url = "ht10.png", width = 50.0, height = 50.0, alt = "Hongtao Hao" }

[languages]

  [languages.en]
    languageName = "English"
    languageCode = "en-us"
    weight = 1
    title = "Hongtao Hao"
    contentDir = "content/en"

    [languages.en.params]
      description = "Personal website of Hongtao Hao"
      licenseURL = "https://creativecommons.org/licenses/by-nc-sa/4.0/"
    
    [languages.en.taxonomies]
      tag = "tags"
      category = "categories"

    [languages.en.permalinks]
      blog = ":year/:month/:day/:slug/"

    [[languages.en.menu.main]]
      name = "Home"
      url = "/"
      weight = 1

    [[languages.en.menu.main]]
      name = "Blog"
      url = "/blog/"
      weight = 2

  [languages.cn]
    languageName = "中文"
    languageCode = "zh-cn"
    weight = 2
    title = "郝鸿涛"
    contentDir = "content/cn"

    [languages.cn.params]
      description = "郝鸿涛的个人网站"
      licenseURL = "https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans"

    [languages.cn.taxonomies]
      tag = "tags"
      category = "categories"

    [languages.cn.permalinks]
      blog = "/:year/:month/:day/:slug/"

    [[languages.cn.menu.main]]
      name = "关于"
      url = "/about/"
      weight = 1

    [[languages.cn.menu.main]]
      name = "博客"
      url = "/blog/"
      weight = 2
    

    

