<a name="top"></a>
{{ partial "header.html" . }}

<main class = "content" role="main">
<div class="body-text list-text">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>

{{ if .Params.toc }}
<aside class="toc">
Table of Contents:
{{ .TableOfContents }}
</aside>
{{ end }}

{{ .Content | partial "add-header-anchors" }}
<p style="color:#777;">{{ default (index $.Site.Params.lang.lastupdate $.Site.Params.defaultLang) (index $.Site.Params.lang.lastupdate $.Section)}} {{ .Page.Lastmod.Format "2006-01-02" }}</p>
</div>
<a href="#top"><i class="fa fa-chevron-up" style="font-size: 30px; color: black;"></i></a>
</main>

{{ partial "footer.html" . }}
