/*@import url(https://fonts.googleapis.com/css?family=Noto+Serif+SC);*/


body {
	font-family:  'Source Sans Pro', Lato, Helvetica Neue, 'Open Sans', 'PT Serif', 'IBM Plex Serif', 'Alegreya', 'Noto Serif SC', 'Noto Serif TC', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif', 'Source-han-serif-sc',  'STKaiti', sans-serif;
	font-weight: 400;
}
code {
  font-family: 'Courier', 'Courier New', 'Monaco', 'Menlo', monospace;
  font-size: 17px;
}
