/*@import url(https://fonts.googleapis.com/css?family=Noto+Serif+SC);*/


body {
	font-family:  'Source Sans Pro', Lato, Helvetica Neue, 'Open Sans', 'PT Serif', 'IBM Plex Serif', 'Alegreya', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif', 'Source-han-serif-sc',  sans-serif;
	font-weight: 400;
	line-height: 24px;
}
code {
  font-family: 'Courier', 'Courier New', 'Monaco', 'Menlo', monospace;
  font-size: 17px;
}
