html {
  font-size: 100%;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: none;/*#F3F3F3*/
}

body {
  max-width: 740px;
  margin: auto;
  padding: 1em;
  line-height: 1.8em;
  font-weight: 500;
  color: #333333;
} 

/* header and footer areas  #FDF7E3*/
.menu { padding: 5; }
.menu li { display: inline-block; 
  }
.menu a { 
  font:'Open Sans', 'Noto Serif SC', 'Noto Serif TC', sans-serif;
  font-size: 20px;
  text-decoration: none;
  /*background: #F3F3F3; */
  padding: 8px;
  border-radius: 2px;
  color: black;
  border-bottom: none;
}
.menu,  

footer { 
  font:'Open Sans', 'Noto Serif SC', 'Noto Serif TC', sans-serif;
  text-align: center; font-size: 19px;} 

/* navigation bar positioning */
.nav {
  position:relative;
  top:5px;
} 

.title {
  font-size: 1.1em; }

footer a { text-decoration: none;}

.menu-hr {
  border-top: 0.1em solid;
  color: #000; /*#ddd*/
  max-width: 1024px;
  position: relative;
  top:-24px;
}

/*defining the style of the horizontal rule above footer text */
.footer-hr {
  border-top: 0.1em solid;
  color: #000;/*#ddd*/
  max-width: 1024px;
}

/* to list the footer text */
.footer-text {
  text-align: center;
  margin-top: -1.2em;
  font-size: 19px;
}

pre {
  border: 1px solid #757575;
}

pre code {
  background-color: transparent;
  border: none;
}

code {
  padding: 2px 0.25rem;
  border-radius: 2px;
  border: 1px solid #757575;
}

/* code 
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 0em;
  overflow-x: auto;
  background-color: #F8F8F8;
}
code { background: #f9f9f9; }
pre code { background: none; }


/* Table of contents */
.toc {
  border: .25rem solid #757575;
  padding: 1rem; 
  margin-top: 1rem;
  margin-bottom: 1em;
  color: #757575;
}

.toc a,
.toc a:visited {
  text-decoration: none;
  color: #757575;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
main { 
  hyphens: auto;
}

blockquote {
  background: #f9f9f9;
  margin: 1em 0;
  padding: 0 2em;
  border-left: 3px solid #ddd;
}

/*
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
} */

table {
  font-size: 19px;
  margin: auto;
  margin-bottom: 2em;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

/* figure floating */
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; 
}

/* figure caption styling */
figcaption {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: grey;
} 

/* The following codes came from: https://github.com/xiangming/typo/blob/master/css/typo.css */

@charset 'utf-8';
/*!
 * Typo v1.0.6 (http://typo.reqianduan.com/)
 * A typography stylesheet designed for better reading experience.
 * © 2017 Arvin Xiang. All rights reserved.
 */

h1,
h2,
h3 
h4,
h5,
h6 {
  /* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
  padding: 0;
  margin: 40px 0 30px;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

article-title {margin-top: 0px;}

h2 {
  font-size: 22px;
  font-weight: bold;
}
h3 {
  font-weight: normal;
  font-size: 1.5em;
}
h4,
h5,
h6 {
  font-size: 1.4em;
  color: grey;
}
h6 {
  font-weight: 500;
}

ul,
ol {
  margin: 0 0 12px;
}
ul li,
ol li {
  font-size: 19px;
}

p {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.8em;

}
a {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

a:hover {
}

sup a {
  border-bottom: none;
}

strong,
b {
  font-weight: 700;
}

em, 

i {
  font-style: italic;
}
img {
  max-width: 100%;
  height: auto;
  margin: .2em 0;
  border: none;
  /* Remove border on IE */
}
figure {
  position: relative;
  clear: both;
  min-height: 100px;
  margin: 10px 0 30px;
  padding: 0;
  outline: 0;
}
figure img {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  margin: auto auto 4px;
}
figcaption {
  font-size: 12px;
  font-weight: 400;
  left: 0;
  width: 100%;
  margin-top: 30px;
  color: red;
}

figcaption a {
  text-decoration: none;
  color: #888888;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 40px auto;
  padding: 0;
  max-width: 300px;
}

/* styling for footnotes */
a[href^="#fn:"],
a[href^="#fnref:"] {
  text-decoration: none;
  color: red;
  font-family: monospace;
}
a[href^="#fn:"]:before{ content: '[' }
a[href^="#fn:"]:after{ content: ']' }


/* Colored borders at top/bottom of page 

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

/*blockquote {
  font-size: 1em;
  font-weight: 300;
  position: relative;
  margin: 0 0 30px;
  padding-top: 10px;
  padding-left: 50px;
  color: #000000;
  border: none;
}

blockquote:last-child {
  margin-bottom: 0;
}
blockquote:before {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  position: absolute;
  top: -25px;
  left: 10px;
  content: '\201C';
  color: #ddd;
} */

@media only screen and (max-width: 600px) {

  body {font-size: 11px;}
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
}

