<div class="content">
{{ if and (not .IsSection) (not .IsHome) (not (eq .Kind "term"))}}
<script src="https://giscus.app/client.js"
        data-repo="hongtaoh/hongtaoh.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNjM3NDMzMTY="
        data-category="Announcements"
        data-category-id="DIC_kwDOD7hnVM4CUKk6"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</br>
{{ end }} 
</div>