{{ partial "header.html" . }}

{{ $name := .Data.Plural -}}
{{ if eq $name "tags" -}}
<h1>#{{ .Title | markdownify }}</h1>
{{ end }}

<main class = "content">

<div class="list-page">
{{ .Content }}


{{if not .IsHome}}
<ul>
  {{ range .Pages.GroupByDate "2006" }}
  <h2 style="text-align: left;">{{ .Key }}</h2>
  {{ range .Pages.GroupByDate "2006-01-02" }}
  {{ range .Pages }}
  <p>
    <span class="date">
    {{ .Date.Format "2006-01-02" }}
    </span>
    <a href="{{ .RelPermalink }}">
    {{ .Title }}
    </a>
  </p>
  {{ end }}
  {{ end }}
  {{ end }}
</ul>
{{ end }}
</div>
</main>

{{ partial "footer.html" . }} 

<div style="text-align: center; color: gray; margin-top: -20px; font-size: 19px;
margin-bottom: 10px">
{{ if .IsHome}}
{{ (index .Site.Params.lang.Sitelastupdate $.Site.Params.defaultLang) }}
{{ .Site.LastChange.Format "2006-01-02" }}
{{ end }}
</div>
